/** @format */
@import "../../Styles/common.scss";
.attribute {
  &__title {
    margin-top: 10px !important;
    margin-bottom: 0;
    &--headerCustomStyle {
      @include fontStyle(14px, 400, #1d1f22);
    }
  }
  &__items {
    display: flex;
    &--notAllowed {
      div {
        cursor: not-allowed;
      }
    }
    &__swatch {
      cursor: pointer;
      width: 32px;
      height: 32px;
      margin-right: 12px;
      border: 2px solid transparent;
      &--headerCustomStyle {
        width: 16px;
        height: 16px;
        &:hover {
          border: 2px solid transparent !important;
        }
      }
      &--selectedItem {
        border: 2px solid #5ece7b;
        &:hover {
          border: 2px solid #5ece7b !important;
        }
      }
      &:hover {
        border: 2px solid #5ece7b;
      }
    }
    &__text {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 12px;
      width: 63px;
      height: 45px;
      border: 1px solid #1d1f22;
      box-sizing: border-box;
      @include fontStyle(16px, 400, #1d1f22);

      &--headerCustomStyle {
        width: 24px;
        height: 24px;
        margin-right: 8px;
        font-size: 10px;
        background: rgba(166, 166, 166, 0.2);
        &:hover {
          background: rgba(166, 166, 166, 0.2) !important;
          color: #1d1f22 !important;
        }
      }
      &--selectedItem {
        background: #1d1f22 !important;
        color: #ffffff !important;
        &:hover {
          background: #1d1f22 !important;
          color: #ffffff !important;
        }
      }
      &:hover {
        background: #1d1f22;
        color: #ffffff;
      }
    }
  }
}
